<template >
 <div >
    <div class="about">
      <b-container class="mt-4">
        <b-row>
          <b-col md='12'>
            <!-- <alert-bootstrap -->
            <b-alert
              :show="dismissCountDown"
              dismissible
              :variant="mensaje.color"
              @dismissed="dismissCountDown=0"
              @dismiss-count-down="countDownChanged"
            >
            {{mensaje.texto}} 
            </b-alert>
              <!-- </alert-bootstrap -->
            <!-- <modalUpdate> -->
            <template>
              <div>
                <b-modal ref="my-modal2" hide-footer :title="titulo" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant">
                  <div class="d-block text-center">
                    <!-- <contentModal> -->
                    <!-- <form edit area> -->
                    <form @submit.prevent='updateArea(areaEdit)'  v-if="editar"> 
                      <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" v-model="areaEdit.nombre" class="form-control" placeholder="NOMBRE DEL ENCARGADO" >
                      </div><br>
                      <!-- <div class="form-group">
                        <label for="estado">encargadoID</label>
                        <select class="form-control" v-model="manager.nombre">
                          <option disabled>Por favor seleccione el encargado del área</option>
                          <option :value="manag.nombre" v-for="manag in manager" :key="manag.id">{{manag.nombre}}</option>
                        </select>
                      </div><br><br><br> -->
                      <div class="form-group">
                        <label for="estado">encargadoID</label>
                        <select class="form-control" v-model="areaEdit.encargado">
                          <option disabled>Por favor seleccione el encargado del área</option>
                          <!-- <option :value="item.encargado" v-for="(item,key) in areas" :key="key">{{item.encargado.nombre}}</option> -->
                          <option :value="manag.nombre" v-for="manag in manager" :key="manag.id">{{manag.nombre}}</option>
                        </select>
                      </div><br><br><br>

                      <button type="submit" class="btn btn-outline-primary btnEdit" @click="hideModal2()"> Editar</button>
                      <button type="submit" class="btn btn-outline-danger mx-2 btnCancel" @click="editar=false,hideModal2()">Cancelar</button>
                    
                    </form>
                    <!-- </form edit area> -->
                    <!-- </contentModal> -->
                  </div>
                  <b-button class="mt-3" variant="outline-danger" block @click="hideModal2()" v-if="!editar">Close Me</b-button>
                </b-modal>
              </div>
            </template>
            <!-- </modalUpdate> -->
              
                <!-- <MODAL BOOTSTRAP VUE  addArea> -->  
              <template>
                  <div>
                    <b-button variant="outline-primary" class="btnRegister" id="show-btn" @click="showModal" v-if="!editar">registrarArea</b-button>
                    <b-modal ref="my-modal" hide-footer :title='title.t'  class="modal-title" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant">
                      <div class="d-block text-center">
                        <!-- <ContentModal> -->
                        <form @submit.prevent="addArea()" v-if="!editar">
                          <!-- <h4 class="text-center"><b>Registrar un area</b></h4> -->
                          <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" v-model="area.nombre" class="form-control" placeholder="NOMBRE" >
                          </div><br>

                          <div class="form-group">
                            <label for="encargado">Encargado</label>
                            <select class="form-control" v-model="area.encargado">
                              <option disabled>Seleccione el encargado del área</option>
                              <option :value="encarga"  v-for="encarga of managers" :key="encarga.id">{{encarga.nombre}}</option>
                            </select>
                          </div>

                          <br>
                          <!-- btn -->
                            <button class="btn btn-outline-primary btnRegisterS" type="submit" @click="hideModal">Registrar</button><br>
                          <!-- btn -->
                        </form>  
                      <!-- </ContentModal> -->
                      </div>
                    </b-modal>
                  </div>
                </template>

              <!-- </MODAL BOOTSTRAP VUE  addArea> --> 
          </b-col>
        </b-row>

        <b-row class="mt-4">
          <b-col md='4' v-for="area of areas" :key="area.id">
            <div class="mt-2 card">
              <div class="card-body">
                <h5 class="cart-title"><b>Nombre</b>: {{area.nombre}}</h5>
                <h5 class="cart-title"><b>Encargado del área: </b>{{area.encargado.nombre}}</h5>
              </div>
              <div class="card-footer">
                <button class="btn btn-outline-success" @click="showModal2(),activateEdition(area._id)"> 
                    <span class="material-icons">edit</span>
                  Actualizar
                </button>
                <button class="btn btn-outline-danger mx-2"  @click="deleteArea(area._id)">
                  <span class="material-icons">delete_forever</span>
                  Eliminar 
                </button>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div> <br><br><br><br><br>
    <Footer/>
 </div> 
</template>

<script>
/* Areas de la CUA
OFICINA SECRETARIA GENERAL
Oficina de planeación
Oficina de aseguramiento de la calidad
Oficina Bienestar Institucional
OFICINA MERCADEO Y COMUNICACIONES
*/
import Footer from '@/components/Footer.vue'
export default {
  name: 'Company', 
  components:{
    Footer,
  },
  data(){
    return{
      titulo:'Editar Area',
      areas:[],
      managers:[],
      manager: {},
      // <alert Bootstrap>
      dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: 'success', texto: ''},
      // </alert Bootstrap>
      area:{nombre:'',encargado:''},
      // encargado: {nombre:''},
      editar:false,
      areaEdit:{},
      title:{t:'Registrar un area',color:'red'},
      textChange:'red',
      imageBackground: 'https://res.cloudinary.com/dqhme1rod/image/upload/v1626107257/americana/jyprzqh106bw7noiacul.svg',
      headerBgVariant: 'primary',
      headerTextVariant:'light',
      bodyBgVariant:'light',
    }
  },
  created(){
    this.listAreas();
    this.getAllManager();
  },
  methods:{
    listAreas(){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.get('/areas',configuration)
       .then(res=>{
        
         this.areas = res.data.areas; 
        //  console.log(this.areas);   
       })
       .catch(err => {
         console.log(`Err ${err}`);
       })
    },
    //  getAllEncargados
    getAllManager(){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.get('/encargados',configuration)
        .then(res=>{
          this.managers = res.data.encargados;
          this.manager = res.data.encargados;
          console.log('ENCARGADOS', this.managers)
        })
        .catch(err=>{
          console.log(`Err ${err}`);
        })
    },
    addArea(){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.post('/area',this.area,configuration)
       .then(res => {
         console.log(res.data.area);

         this.areas.unshift(res.data.area);
         this.area.nombre = '';
         this.area.encargado = '';


         // RETURN AREA UPDATED
         this.listAreas();

         // Alert bootstrap
         this.mensaje.color = 'success';
         this.mensaje.texto = 'Area agregada :)';
         this.showAlert();
       })
       .catch(err => {
         console.log(`Error ${err}`);
          this.mensaje.color = 'danger';
          this.mensaje.texto = 'Datos requeridos';
          this.showAlert();
       })
     
    },
    activateEdition(id){

        // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};
      
        this.editar = true;
        // console.log(id);
         window.scrollTo(0,0)
        this.axios.get(`/area/${id}`,configuration)
         .then(res=>{
           this.areaEdit = res.data;
         })
         .catch(err=>{ 
           console.log(err.res);
         })
    },
    updateArea(enc){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.put(`/area/${enc._id}`,enc,configuration)
       .then(res=>{
         const index = this.areas.findIndex(e => e._id === res.data._id)
         this.areas[index].nombre = res.data.nombre;
         this.areas[index].encargado = res.data.encargado;

          // RETURN areas UPDATED
         this.listAreas();
         window.scrollTo(1000, 1000); 

         this.mensaje.color='success';
         this.mensaje.texto = 'Area actualizada exitosamente';
         this.showAlert();
         this.editar = false;
       })
       .catch(err=>{
         console.log(err.res);
       })
    },
    deleteArea(id){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.delete(`area/${id}`,configuration)
        .then(res=>{
          let index = this.areas.findIndex(item=>item._id === res.data._id)
          this.areas.splice(index,1);

          // RETURN areas UPDATED
           this.listAreas();

          this.mensaje.color='danger';
          this.mensaje.texto = 'Area eliminada...';
          this.showAlert();
        })
        .catch(err=>{
          console.log(`Error ${err}`);
        })
    },
    // Function alert bootstrap
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
        this.dismissCountDown = this.dismissSecs
    },
    // MANIPULATE MODAL BOOTSTRAP VUE
    showModal() {
      this.$refs['my-modal'].show()
    },
    showModal2() {
      this.$refs['my-modal2'].show()
    },
    hideModal() {
      this.$refs['my-modal'].hide()
    },
    hideModal2() {
      this.$refs['my-modal2'].hide()
    },


  },

}
</script>
<style scoped>
 
  .imageEquipment{
    width:130px;
    height:130px;
  }
  .btnEdit, .btnCancel, .btnRegisterS{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    border-radius:30px;
  }
  .btnRegister{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
  }
 .colorSH{
   font-size:90px;
 }
</style>