<template>
 <div>
    <div class="loan">
      
      <b-container class="mt-4">
        <b-row>
          <b-col md='12'>
            <!-- <alert-bootstrap -->
            <b-alert
              :show="dismissCountDown"
              dismissible
              :variant="mensaje.color"
              @dismissed="dismissCountDown=0"
              @dismiss-count-down="countDownChanged"
            >
            {{mensaje.texto}} 
            </b-alert>
            <!-- </alert-bootstrap -->

            <!-- <modalUpdate> -->
            <template>
              <div>
                <b-modal ref="my-modal2" hide-footer :title="title" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant">
                  <div class="d-block text-center">
                    <!-- <form edit loan> -->
                    <form @submit.prevent='updateLoan(loanEdit)' v-if="editar">
                      <div class="form-group">
                          <label for="usuario">Usuario</label>
                          <select class="form-control" v-model="loanEdit.usuario">
                            <option disabled>SELECCIONE EL USUARIO</option>
                            <option :value="use"  v-for="use of usuarioss" :key="use.id">{{use.nombre}}</option>
                          </select>
                      </div><br>
                      <div class="form-group">
                        <label for="equipo">Equipo</label>
                        <select class="form-control" v-model="loanEdit.equipo">
                          <option disabled>SELECCIONE EL EQUIPO</option>
                          <option :value="equ"  v-for="equ of equipments" :key="equ.id" v-show="equ.disponibilidad!='false'">
                            {{equ.nombre}}
                          </option>
                        </select>
                      </div><br>
                      <div class="form-group">
                          <label for="en">Encargado</label>
                          <select class="form-control" v-model="loanEdit.encargado">
                            <option disabled>SELECCIONE EL ENCARGADO</option>
                            <option :value="enc"  v-for="enc of managers" :key="enc.id">{{enc.nombre}}</option>
                          </select>
                      </div><br>
                      
                      <div class="form-group">
                        <label for="StarLoan">InicioPrestamo</label>
                        <input type="date" class="form-control" v-model="loanEdit.inicioPrestamo">
                      </div><br>

                      <div class="form-group">
                        <label for="EndLoan">finPrestamo</label>
                        <input type="date" class="form-control" v-model="loanEdit.finPrestamo">
                      </div><br>
                      <div class="form-group">
                        <label for="description">Descripción</label>
                        <textarea class="form-control" name="" id="" cols="30" rows="6" v-model="loanEdit.descripcion"></textarea>
                      </div><br>
                      <br>
                      <div class="d-grid">
                        <button type="submit" class="btn-update btn btn-outline-primary " @click="hideModal2()">Editar</button>
                        <button type="submit" class="btn-update btn btn-outline-danger mt-2" @click="editar=false,hideModal2()">Cancelar</button>

                      </div>
                    </form><br><br>
                    <!-- </form edit manager> -->
                    <!-- </contentModal> -->
                  </div>
                  <b-button class="mt-3" variant="outline-danger" block @click="hideModal2()" v-if="!editar">Close Me</b-button>
                </b-modal>
              </div>
            </template>
            <!-- </modalUpdate> -->

            
            <!-- <START MODAL ADD LOAN> -->
            <template>
             <div>
               <button class="btnLoanDevice btn btn-outline-primary" @click="showModal" v-if="!editar">
                  prestarEquipo
               </button>
                <b-modal ref="my-modal" hide-footer title='Prestar equipo' class="example" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant">
                  <div class="d-block text-center">
                    <!-- <ContentModal> -->
                    <form @submit.prevent="addLoan()" v-if="!editar">
                      <div class="form-group">
                        <label for="encargado">Empleado</label>
                        <select class="form-control" v-model="loan.usuario">
                          <option disabled>SELECCIONE EL EMPLEADO</option>
                          <option :value="use"  v-for="use of usuarioss" :key="use.id">{{use.nombre}}</option>
                        </select>
                      </div><br>
                      <div class="form-group">
                        <label for="encargado">Equipo</label>
                        <select class="form-control" v-model="loan.equipo">
                          <option disabled>SELECCIONE EL EQUIPO</option>
                          <option :value="equ"  v-for="equ of equipments" :key="equ.id" 
                          v-show="equ.disponibilidad!='false'">
                            {{equ.nombre}}
                          </option>
                        </select>
                      </div><br>
                      <div class="form-group">
                        <label for="encargado">Encargado</label>
                        <select class="form-control" v-model="loan.encargado">
                          <option disabled>SELECCIONE EL ENCARGADO</option>
                          <option :value="enc"  v-for="enc of managers" :key="enc.id"><!-- {{enc}} --> {{enc.nombre}}</option>
                        </select>
                      </div><br>
                      
                      <div class="form-group">
                        <label for="StarLoan">InicioPrestamo</label>
                        <input type="date" class="form-control" v-model="loan.inicioPrestamo">
                      </div><br>

                      <div class="form-group">
                        <label for="EndLoan">finPrestamo</label>
                        <input type="date" class="form-control" v-model="loan.finPrestamo">
                      </div><br>
                      <div class="form-group">
                        <label for="description">Descripción</label>
                        <textarea class="form-control" name="" id="" cols="30" rows="6" v-model="loan.descripcion"></textarea>
                      </div><br>
                      <div class="d-grid">
                        <button class="btn btn-outline-primary btnLoan" type="submit" @click="hideModal">Prestar</button>
                      </div>
                      <!-- <button class="btn btn-danger mx-2">Cancel</button> -->
                    </form>
                    <!-- </ContentModal> -->
                  </div>
                </b-modal>
             </div>  
            </template>  
            <!-- </END MODAL ADD LOAN> -->
            <hr>
          </b-col>
        </b-row>

        <b-row>
          <b-col md='6' v-for="loan of loans" :key="loan.id">
            <div class="card">
            <div class="card-header">
              <h6 class="card-title text-center"><b>Empleado: </b>{{ loan.usuario.nombre }} {{ loan.usuario.apellido}}</h6>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Equipo:</b>{{loan.equipo.nombre}}</li>
              <li class="list-group-item"><b>Encargado: </b>{{loan.encargado.nombre}} {{loan.encargado.apellido}}</li>
              <li class="list-group-item loanStart"><b>Inicio Prestamo: </b>{{loan.inicioPrestamo.substring(0,10)}}</li>
              <li class="list-group-item loanEnd"><b>Fin Prestamo:</b>{{loan.finPrestamo.substring(0,10)}}</li>
              <p class="list-group-item"><b>Descripción:</b>{{loan.descripcion}}</p>
            </ul>
            <div class="card-footer">
               <button class="btn btn-success btnEditT" @click="showModal2(),activateEdition(loan._id)">
              Actualizar
             </button>
            <button class="btn btn-danger mx-2 btnDownT" @click="downloadPDF(loan._id)">
              Descargar
            </button>
              <!-- v-if -->
            <button class="mx-2 btn btn-outline-primary btnDeliver" v-if="loan.loanState==='active'" @click="deliverDevice(loan._id)" >entregarEquipo</button>

            <!-- v-else -->
            <button class="mx-2 btn btn-outline-primary btnDeliver" v-else @click="deliverDevice(loan._id)" disabled>entregarEquipo</button> 
            </div>
          </div>
          </b-col>
        </b-row>
      </b-container>
    </div> <br><br><br><br><br>
    <Footer/>
 </div> 
</template>

<script>
import 'promise-polyfill/src/polyfill';
import Footer from '@/components/Footer.vue'
// import html2pdf from 'html2pdf.js'
import { jsPDF } from "jspdf"

export default {
  name: 'Company', 
  components:{
    Footer 
  },
  data(){
    return{
      title:'Editar Prestamo',
      // ALERT BOOTSTRAPVUE
      dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: 'success', texto: ''},
      // ALERT BOOTSTRAPVUE
      loans:[],
      usuarioss:[],
      managers:[],
      equipments:[],
      loan:{usuario:'',encargado:'',equipo:'',inicioPrestamo:'',finPrestamo:'',descripcion:''},
      editar:false,
      loanEdit:{},
      disponibilityDevice:[],
      colorText:'red',

      headerBgVariant: 'primary',
      headerTextVariant:'light',
      bodyBgVariant:'light',
    }
  },
  created(){
    this.listLoans();
    this.getAllUsers();
    this.getAllManagers();
    this.getAllEquipments();
  },
  methods:{
    downloadPDF(id){
      let header = {'Token':this.$store.state.token};
      let configuration = {headers: header};
        this.axios.get(`/prestamo/${id}`,configuration)
          .then(res=>{
            let des = res.data.descripcion;
            let tituloInforme = 'Informe';
             let options= {
                maxWidth:160,
                align:"justify"
                // margin: [2, 2, 2.5, 2],
              };
           let doc = new jsPDF({});
          //  doc.text('Corporación',200,10,null,null,"right");
          //  doc.text('Universitaría Americana sede Monteria',210,20,null,null,"right");

          /*Note
           doc.text
           El primer número es el margin izquierdo, el segundo es el margin top
           Separación de 10 puntos...
          */ 
          /*Note
           doc.addImage
           El tercer número es el width, y el cuarto el height
           Separación de 10 puntos...
          */ 
          //  <img src="https://res.cloudinary.com/dqhme1rod/image/upload/v1625688399/americana/drkg16zitzdbxmc3ybpl.jpg" width="160" height="auto" align="left">
          doc.addImage("https://res.cloudinary.com/dqhme1rod/image/upload/v1625688399/americana/drkg16zitzdbxmc3ybpl.jpg", "JPEG", 22, 8, 55, 18);
          //  lINES
          doc.setLineWidth(0.5);
          doc.line(20, 40, 190, 40);
          doc.text("Corporación", 182, 20, null, null,"right");
          doc.text("Universitaría Americana sede Monteria", 182, 30, null, null,"right");
          // TITLE REPORT
          doc.setFontSize(22)
          doc.text(`${tituloInforme}`, 100, 50, null, null,"center");
          // DESCRIPTION REPORT

          doc.setFontSize(16)
          doc.text(`${des}`,22,60,options);
          
          //Encargado
          doc.setLineWidth(0.5);
          doc.line(22, 230, 60, 230);
          doc.text(`Encargado`,22,240);
           
          //Empleado
          doc.setLineWidth(0.5);
          // Primer número left, segundo y cuarto top and right, tercer ancho de la linea
          // doc.line(230, 200, 50, 200);
          doc.line(150, 230, 190, 230);
          doc.text('Empleado',182, 240, null, null,"right");

          //Footer
          // doc.setLineWidth(0.5);
          // doc.line(20, 268, 190, 268);
          doc.setFontSize(12)
          doc.text('Corporación Universitaria Americana 2021',182, 272, null, null,"right");
          doc.save('report.pdf')
        }).catch(err=>{
          console.log(err)
        })
    },
    deliverDevice(id){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      // let infoDeliverDevice;
      let x = confirm('ESTA SEGURO DE QUERER ENTREGAR EL EQUIPO :) ?');
      if(x==false){
        alert('OK,PUEDE CONTINUAR CON EL EQUIPO');
      }else{
        this.axios.get(`/activate-device-loan/${id}`,configuration)
          .then(res=>{
            console.log(res);
            alert('OK EL EQUIPO HA SIDO DEVUELTO EXITOSAMENTE... :)');
            // return equipos actualizados
           
            this.getAllEquipments();
            this.listLoans();
          })
          .catch(err=>{
            console.log(err);
          })
      }

      // DESACTIVAR PRESTAMO
      this.axios.get(`/deactivate-loan/${id}`,configuration)
        .then(res=>{
          let deActivateLoan = res.data;
          console.log(deActivateLoan); 
        }).catch(err=>{console.log(`${err}`)})

    },
     
    listLoans(){    
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.get('/prestamos',configuration)
       .then(res=>{
          this.loans = res.data.loans;
          // console.log('LOAN',this.loans);
          for(let { equipo } of this.loans){
            // console.table('Disponibilidad',equipo.disponibilidad);
            this.disponibilityDevice.push(equipo.disponibilidad);
          }

          
       })
       .catch(err=>{
         console.log(`err ${err}`)
       })


    },
     getAllEquipments(){   
       // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.get('/equipos',configuration)
       .then(res=>{
          this.equipments = res.data.equipos;
          // console.log('EQUIPOS',this.equipments);
       })
       .catch(err=>{
         console.log(`err ${err}`)
       })
    },
    
    getAllUsers(){    
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.get('/usuarios',configuration)
       .then(res=>{
          this.usuarioss = res.data.usuarios;
          
          
          // console.log(this.users);
       })
       .catch(err=>{
         console.log(`err ${err}`)
       })
    },
   
    getAllManagers(){ 
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.get('/encargados',configuration)
       .then(res=>{
          this.managers = res.data.encargados;
          // console.log(this.managers);
       })
       .catch(err=>{
         console.log(`err ${err}`)
       })
    },
     addLoan(){
       // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.post('/prestamo',this.loan,configuration)
       .then(res => {       
           this.loans.unshift(res.data.loan);
           this.loan.usuario = '';
           this.loan.encargado = '';
           this.loan.equipo = '';
           this.loan.inicioPrestamo = '';
           this.loan.finPrestamo = '';
           this.loan.descripcion = '';
         // RETURN AREA UPDATED
         this.listLoans();
         //ALERT BOOTSTRAPVUE
         this.mensaje.color = 'success';
         this.mensaje.texto = 'Prestamo exitoso:)';
         this.showAlert();  

       })
       .catch(err => {
         console.log(`Error ${err}`);
         this.mensaje.color = 'danger';
         this.mensaje.texto = 'Datos requeridos';
         this.showAlert();
       })
     
    },
    activateEdition(id){
       // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

        this.editar = true;
        // console.log(id);
        window.scrollTo(0,0);
        this.axios.get(`/prestamo/${id}`,configuration)
         .then(res=>{
           this.loanEdit = res.data;
         })
         .catch(err=>{ 
           console.log(err.res);
         })
    },
    updateLoan(prest){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.put(`/prestamo/${prest._id}`,prest,configuration)
       .then(res=>{
         const index = this.loans.findIndex(l => l._id === res.data._id)
         this.loans[index].usuario = res.data.usuario;
         this.loans[index].equipo = res.data.equipo;
         this.loans[index].encargado = res.data.encargado;
         this.loans[index].inicioPrestamo = res.data.inicioPrestamo;
         this.loans[index].finPrestamo = res.data.finPrestamo;
         this.loans[index].descripcion = res.data.descripcion;

         // RETURN LOANS UPDATED
         this.listLoans();
         window.scrollTo(1000, 1000); 

         this.mensaje.color='success';
         this.mensaje.texto = 'Prestamo Actualizado exitosamente';
         this.showAlert();
         this.editar = false;
       })
       .catch(err=>{
         console.log(err.res);
       })
      window.scrollTo(48,668)
    },
    // <ALERT BOOTSTRAPVUE>
    // Function alert bootstrap
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
        this.dismissCountDown = this.dismissSecs
    },
    // </ALERT BOOTSTRAPVUE>
    // MANIPULATE MODAL BOOTSTRAP VUE
    showModal() {
      this.$refs['my-modal'].show()
    },
    
      showModal2(){
        this.$refs['my-modal2'].show()
      },
    hideModal() {
      this.$refs['my-modal'].hide()
    },
    hideModal2(){
      this.$refs['my-modal2'].hide()
    }
  }

}
</script>
<style scoped>
  label {
    font-weight:bold; 
  }
  .loanStart{
    color:green;
  }
  .loanEnd{
    color:red;
  }
  .btn-update,.btnLoan{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    border-radius:30px;
  }
  .btnLoanDevice{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    /* border-radius:30px; */
  }
  .btnEditT, .btnDownT, .btnDeliver{
    font-family: 'Open Sans', sans-serif;font-size:16px;
    font-size:16px;
    border-radius:10px;
  }
  .modal-header{
    color:red;
  }
</style>

