<template >
 <div >
    <div class="password">
      <div class="container">
        <div class="row mt-4">
          <div class="col-md-7">
            <h3>¡Haz parte de la Familia Americana!</h3>
            <p style="font-size:18px">
              En la Americana entendemos que la educación con calidad se construye,
              por eso nuestros docentes y funcionarios están altamente capacitados
              para recibirte y convertirte en un gran profesional.
            </p>
          </div>

          <div class="col-md-5">
            <b-alert
              :show="dismissCountDown"
              dismissible
              :variant="message.color"
              @dismissed="dismissCountDown=0"
              @dismiss-count-down="countDownChanged"
            >
              {{message.text}}
            </b-alert>
            <div class="card">
              <div class="card-body">
                  <form @submit.prevent="recoverPassword()">   
                  <div class="form-group">
                    <label for="exampleInputEmail1"><strong>Correo</strong></label>
                    <input type="email" class="mt-2 form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="correo" required v-model="correo">
                  </div>  
                   <div class="mt-2 d-grid gap-2">
                     <button class="mt-2 btn btn-primary" type="submit">Enviar</button>
                   </div>
                  </form> 
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div> <br><br><br><br><br>
    <Footer/>
 </div> 
</template>

<script>
import Footer from '@/components/Footer.vue'
export default {
  name: 'Password', 
  components:{
    Footer 
  },
  data(){
    return{
      correo:'',
      message: {color: 'success', text: ''},
      dismissSecs: 3,
      dismissCountDown: 0
    }
  },
  /* eslint-disable */
  methods:{
    recoverPassword(){
      this.axios.post('/forgot-password',{correo:this.correo})
       .then((res)=>{
          this.$router.push('/message-reset');
       }).catch(err=>{
         this.showAlert();
         this.message.color = 'danger';
         this.message.text = 'No existe un usuario con este correo'
         
       })
    },
    // methods alert bootstrap-vue
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    }
  },

}
</script>
<style scoped>
  .message-error{ 
    color:red; 
  }
</style>