<template>
  <div >
     <div class="footer">
     </div>
     <footer id="footer">&#169; Corporación Universitaria Americana SEDE MONTERÍA 2021</footer>
  </div> 
</template>

<script>
  export default {
    name:'Footer' 
  }
</script>

<style scoped>
   #footer{
    background: #022e5a;
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
     /* This text is in Century Gothic */
    font-family: Century Gothic;
    font-size:18px;
   }

</style>